.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: flex !important;
  overflow: hidden;
  outline: 0;
  right: 0;
}

.modal-dialog {
  margin-left: auto !important;
  margin-right: auto !important;
}
